@font-face {
font-family: 'Ferrum';
src: url('./font/FFFont/ferrum-webfont.eot');
src: url('./font/FFFont/ferrum-webfont.eot?#iefix') format('embedded-opentype'),
url('./font/FFFont/ferrum-webfont.woff2') format('woff2'),
url('./font/FFFont/ferrum-webfont.woff') format('woff'),
url('./font/FFFont/ferrum-webfont.ttf') format('truetype');
font-weight: normal; font-style: normal;
}

html{
         overflow-y: hidden;
}

/*.effect img {*/
/*  height: 120px;*/
/*  padding: 20px;*/
/*  font-size: 100px;*/
/*  transition: .8s;*/
/*} */
/*.effect div {*/
/*  margin: auto;*/
/*  transition: .8s;*/
/*  transition-delay: .8s;*/
/*}*/

section{
    width:100%;
    height:100%;
}

#navbar-title{
   max-height:40px;
}

#Martharogomigini{
    margin-left:50px;
}

#loginform{
    margin-left:800px;
}

#Martha {
   max-width: 500px;
    padding-top:50px;
    padding-right:15px;
    height: auto;
    animation: hurueru 10s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

#mapandmore{
    animation: hurueru 15s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

#masa {
   color:white;
   font-family:"Meiryo";
} 


.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

#toumei100{
            height:100%;
            }
            
#toumei200{
            width:150px;
            height:10px;
            }            

#mainmartha{
    padding-bottom:100px;
    padding-left:20px;
}

h4 {
     position: relative;
     bottom: 20px;
}

.blackeffect{
    background-color: rgba(0,0,0,0.4);
}

.carousel-indicators{
padding-bottom: 80px;

}


#secondpart{
 width:100%;
 background: url("./images/img01.jpg")no-repeat center center fixed;
}





#signtd1{
    width:50000px;
}

#logincard{
    position:fixed;
    top:160px;
    right:140px;
    z-index:100;
    background-color: rgba(0,0,0,0.0);
    transition: 2.0s ;
}

#logincard:hover{
    background-color: rgba(0,0,0,0.2);
    top:165px;
    
}

#logincard:focus{
outline: 2px #ff0000 dashed;
}

.fuckhonoka{
        opacity: 0.5;
        transition:2.0s;
}

.fuckhonoka:hover{
        opacity: 1;
}

.button {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
    transition: 7.0s ;
}

.button:hover {
  background-color: rgba(255, 255, 255, .3);
}

#space{
    height:100px;
    width:auto;
    background-color:#dcdcdc;
}


#contentzero{
    height:100%;
    width:auto;
    background-color:#dcdcdc;
}

#contentzero2{
    height:100%;
    width:auto;
    background-color:#dcdcdc;
}

#content0{
    width:100%;
    height:auto;
    margin: 0 auto;
    vertical-align: middle;
}

#contentone{
    height:100%;
    width:auto;
    background-color:#dcdcdc;
}

#content1{
    width:100%;
    height:auto;
    margin: 0 auto;
    vertical-align: middle;
}

#contentonetable{
    height:100%;
    width:100%;
    text-align:center;
}

#content1text{
    font-size: 54px;
    line-height: 1.0625;
    font-weight: 800;
    letter-spacing: -.02em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    width:80%;
    margin:0 auto;
    vertical-align: middle;
}

#contenttwo{
    height:100%;
    width:auto;
    background-color:#dcdcdc;
}

#content2{
    width:100%;
    height:auto;
    margin:0 auto;
    vertical-align: middle;

}

#content2text{
    font-size: 20px;
    float:right;
    margin-right:140px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

#content2textalign{
    margin:0 auto;
    vertical-align: middle;
}

#contentthree{
    height:100%;
    width:100%;
    background-color:#dcdcdc;
    
}

#contentthreetable{
    height:100%;
    width:100%;

}

#content3{
    width:100%;
    height:auto;
    margin-left:25%;
    margin-right:25%;
}

#contentfour{
    height:100%;
    width:auto;
    background-color:#ffffff;
}


#contentfourinside{
    height:100%;
    width:85%;
    background-color:#ffc0cb; 
    margin:0 auto;
    vertical-align: middle;
}

#contentfourtable{
    height:100%;
    width:100%;
     text-align:center;
}
#td3{
    height:100%;
    width:auto;
}


@media screen and (max-width: 425.7px) {
/* 425.7pxまでの幅の場合に適応される */

.pc { display: none !important; }
.sp { display: block !important; }
}


section{
    width:100%;
    height:100%;
}

#navbar-title{
   max-height:40px;
}

#Martharogomigini{
    margin-left:5px;
}

#loginform{
    margin-left:10px;
    float: right;
}





.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

#toumei100{
            height:878px;
            }
            
#toumei200{
            width:150px;
            height:10px;
            }            




.carousel-indicators{
padding-bottom: 80px;

}


#secondpart{
 width:100%;
 background: url("./images/img01.jpg")no-repeat center center fixed;
}





#signtd1{
    width:50000px;
}

#logincard{
    position:fixed;
    top:160px;
    right:140px;
    z-index:100;
    background-color: rgba(0,0,0,0.0);
    transition: 2.0s ;
}

#logincard:hover{
    background-color: rgba(0,0,0,0.2);
    top:165px;
    
}

#logincard:focus{
outline: 2px #ff0000 dashed;
}

.fuckhonoka{
        opacity: 0.5;
        transition:2.0s;
}

.fuckhonoka:hover{
        opacity: 1;
}

.button {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
    transition: 7.0s ;
}

.button:hover {
  background-color: rgba(255, 255, 255, .3);
}

#space{
    height:100px;
    width:auto;
    background-color:#dcdcdc;
}


#contentzero{
    height:100%;
    width:auto;
    background-color:#dcdcdc;
}

#contentzero2{
    height:100%;
    width:auto;
    background-color:#dcdcdc;
}

#content0{
    width:100%;
    height:auto;
    margin: 0 auto;
    vertical-align: middle;
}

#contentone{
    height:100%;
    width:auto;
    background-color:#dcdcdc;
}

#content1{
    width:100%;
    height:auto;
    margin: 0 auto;
    vertical-align: middle;
}

#contentonetable{
    height:100%;
    width:100%;
    text-align:center;
}

#content1text{
    font-size: 54px;
    line-height: 1.0625;
    font-weight: 800;
    letter-spacing: -.02em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    width:80%;
    margin:0 auto;
    vertical-align: middle;
}

#contenttwo{
    height:100%;
    width:auto;
    background-color:#dcdcdc;
}

#content2{
    width:100%;
    height:auto;
    margin:0 auto;
    vertical-align: middle;

}

#content2text{
    font-size: 20px;
    float:right;
    margin-right:140px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

#content2textalign{
    margin:0 auto;
    vertical-align: middle;
}

#contentthree{
    height:100%;
    width:100%;
    background-color:#dcdcdc;
    
}

#contentthreetable{
    height:100%;
    width:100%;

}

#content3{
    width:100%;
    height:auto;
    margin-left:25%;
    margin-right:25%;
}

#contentfour{
    height:100%;
    width:auto;
    background-color:#ffffff;
}


#contentfourinside{
    height:100%;
    width:85%;
    background-color:#ffc0cb; 
    margin:0 auto;
    vertical-align: middle;
}

#contentfourtable{
    height:100%;
    width:100%;
     text-align:center;
}
#td3{
    height:100%;
    width:auto;
}